<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.android.healthcross">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HealthCross"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tracker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fractures"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Burns"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scrapes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Punctures"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splinters"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CPR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cut"
            android:screenOrientation="portrait" />
        <activity android:name=".Flu" />

        <service
            android:name="com.examples.android.healthcross.SensorService"
            android:enabled="true" >
        </service>

        <receiver
            android:name="com.examples.android.healthcross.SensorRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="com.examples.android.healthcross.RestartSensor"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>